---
import Layout from "@/components/Layout.astro";
import PhotoAlbumMasonry from "@/components/PhotoAlbumMasonry";

export const prerender = true;
---

<Layout
  title="相册"
  description="旅行和生活照片合集"
>
  <div class="collection-page-offset pt-6 md:pt-8">
    <PhotoAlbumMasonry
      shareId="M62Uxp4Uz2CUwie9A"
      title="生活碎片"
      showTitle={false}
      client:idle
    />
  </div>
</Layout>
