---
import Layout from "@/components/Layout.astro";
import WereadBookList from "@/components/WereadBookList";

export const prerender = true;
---

<Layout
  title={`书单`}
  description={`我读过的书`}
>
  <div class="collection-page-offset pt-6 md:pt-8">
    <WereadBookList
      listId="333895983_80fTRWHwy"
      client:load
    />
  </div>
</Layout>
