---
import Layout from "@/components/Layout.astro";
import MediaGrid from "@/components/MediaGrid.tsx";
---

<Layout
  title={`豆瓣图书`}
  description={`我读过的书`}
  skipSrTitle={false}
>
  <h1 class="text-3xl font-bold mb-6">我读过的书</h1>

  <MediaGrid
    type="book"
    doubanId="lsy22"
    client:load
  />
</Layout>
