---
import Layout from "@/components/Layout.astro";
import ArticleFilter from "@/components/ArticleFilter";
const searchParams = Astro.url.searchParams;
---

<Layout title="文章筛选" pageType="directory" description="文章筛选页面" skipSrTitle={false}>
  <div class="article-index-shell">
    <div id="article-content">
      <ArticleFilter
        searchParams={searchParams}
        client:load
      />
    </div>
  </div>
</Layout>
