---
import Layout from "@/components/Layout.astro";
import MediaGrid from "@/components/MediaGrid.tsx";
---

<Layout
  title={`电影`}
  description={`我看过的一些电影`}
  skipSrTitle={false}
>
  <h1 class="text-3xl font-bold mb-6">我看过的电影</h1>

  <MediaGrid
    type="movie"
    doubanId="lsy22"
    client:load
  />
</Layout>
