---
import Layout from "@/components/Layout.astro";
import DoubanCollection from "@/components/DoubanCollection";

export const prerender = true;
---

<Layout
  title={`电影`}
  description={`我看过的一些电影`}
>
  <div class="collection-page-offset pt-6 md:pt-8">
    <DoubanCollection
      type="movie"
      doubanId="lsy22"
      client:idle
    />
  </div>
</Layout>
