---
import Layout from "@/components/Layout.astro";
import GitProjectCollection from "@/components/GitProjectCollection";
import { GitPlatform } from "@/components/GitProjectCollection";
---

<Layout
  title="项目"
  description="我的开源项目展示"
  pageType="directory"
  skipSrTitle={false}
>
  <div class="projects-shell">
    <GitProjectCollection
      platform={GitPlatform.GITHUB}
      username="lsy2246"
      title="个人项目"
      client:load
    />
  </div>
</Layout>
